{% extends 'index.html' %}
  {% block titulo %}
  Equipe
{% endblock %}
{% block container%}
<section id="section-about">
  <div class="container-box-title-about">
      <small>| Sobre</small>
      <h2>Equipe</h2>
  </div>
  <div class="group-cards">
      <div class="cards">
       <div class="card">
        <div class="image">
          <img src="/static/img/bruna.png" alt="bruna" width="60%" class="img-equipe">
        </div>
        <div class="about">
          <h3>Bruna Gabriela</h3>
          <p>Front-end developer</p>
        </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/static/img/darllyane.png" alt="darllyane" width="60%" class="img-equipe">
      </div>
      <div class="about">
        <h3>Darllyane Torres</h3>
        <p>UX/UI Design</p>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/static/img/leticia.png" alt="leticia" width="60%" class="img-equipe">
      </div>
      <div class="about">
        <h3>Letícia</h3>
        <p>Back-end developer</p>
      </div>
    </div>
    </div>
  </div>
</section>
{% endblock %}